button, .button{
    background-color: $primary; 
    border: unset;
    border-radius: 5px;
    padding: 10px;
    color: $white;
    transition: all 0.25s linear;

    &.small{
        padding: 5px 10px;
        border: 2px solid $primary;
    }

    &:focus{
        outline: unset;
    }

    &:hover{
        background-color: $white;
        color: $primary;
    }

    &.hollow{
        background-color: transparent;
        border: 2px solid $primary;
        color: $primary;

        &:hover{
            background-color: $primary;
            color: $white;
        }
    }

}