input{
    &[type='text'], 
    &[type='password'],
    &[type='number']{
        border-radius: 3px;
        border: unset;
        padding: 10px;
        display: block;
        &:focus{
            outline: unset;
        }
    }

}

.login-wrap,
.resources{
    input{
        &[type='text'], 
        &[type='password']{
            width: 100%;
            border-bottom: 3px solid $primary;
            margin-bottom: 25px;

            &:focus,
            &:active{
                border-bottom-color: $secondary;
            }
        }
    }
}

textarea{
    min-height: 185px;
    border: unset;
    border-bottom: 2px solid $primary;

    &:focus,
    &:active{
        outline: unset;
        border-bottom-color: $secondary;
    }
}

::-webkit-resizer{
    color: $primary;
}

.form{
    input{
        &[type='text'], 
        &[type='password'],
        &[type='number']{
            width: 95%;
            max-width: 500px;
            border-bottom: 3px solid $primary;
            margin-bottom: 25px;
            &:first-child{
                margin-top: 25px;
            }
            &:focus,
            &:active{
                border-color: $secondary;
            }
        }
    }
}

.profile{
    input{
        &[type='checkbox']{
            margin-right: 10px;
        }
    }
}

.lightbox{
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    button{
        &.cancel{
            z-index: 1;
            position: absolute;
            top: 0px;
            right: 0;
            border-radius: 0;
            border-top-right-radius: 3px;
            @extend .small;
        }
    }

    .form{
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: $white;
        z-index: 1;
        width: fit-content;
        padding: 55px;
        border-radius: 3px;
    }
}

.showPayment{
    max-width: 550px;
    min-height: 500px;
    padding: 25px;
}

.createEvent{
    min-width: 500px;
}